{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}

    <h1>Edit {{ title }}</h1>
    <span>Please make your edits in Markdown - information on how to use this can be found <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank">here</a>.</span>
    <form action="{% url 'edit' title %}" method="POST">
        {% csrf_token %}
        <label for="post_body">Edit post:</label><br/>
        <textarea id="post_body" name="post_body">{{ body }}</textarea>
        <input class="submit-button" type="submit" value="Save">
    </form>


{% endblock %}